body {
    font-family: 'Lobster', cursive;
    color: white;
    background-position: center center; /*Imagen de fondo centrada vertical y horizontal*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    
}
   
.item1 {
    font-size: 25px;
}

.item2 {
       font-size: 23px;
}

.item3 {
    
    font-size: 23px;
}

.item5 {
    margin-top: -245px;
}

.item6 {
    margin-top: 220px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: orange;
}
