body {
    color: white;
    text-shadow: 8px 8px 8px black;
    font-family: 'Lobster', cursive;
    background-position: center center; /*Imagen de fondo centrada vertical y horizontal*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
   
.item1 {
    font-size: 35px;
    
}

.item2 {
       font-size: 33px;
}

.item3 {
    
    font-size: 33px;
}

.item5 {
    margin-top: -350px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: orange;
}
